body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
	font-family: 'Raleway', sans-serif;
	word-spacing: 1px;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Navbar Style*/
.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0 , 112 , 255 , 0.9);
}

.navbar__ul {
	margin: 0 auto;
	float: right;
	list-style-type: none;
	color: white;
}

.navbar__list {
	display: inline;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
	right: 0;
	max-height: 100px;
}

.navbar__link {
	text-decoration: none;
	text-align: center;
	padding: 25px 40px;
	/* For font color */
  -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
   -ms-transition: color 0.5s ease;
       transition: color 0.5s ease;
  /*For background color*/
	-moz-transition: background-color 0.5s ease;
   -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
}

.navbar__link:hover {
	background-color: white;
	color: black;
}

.navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar {
    *zoom: 1;
}

#pull {
	display: none;
}


/* Home page features */

.home_content {
	margin-top: 100px;
	margin-bottom: 100px;
}

.home_content__container {
	width: 1200px;
	margin : 0 auto;
}

.home_content__header {
	font-size: 50px;
	text-align: center;
	padding: 40px 0;
}

.home_cotent__feature {
	width: 100%;
	height: 360px;
}

.home_content__feature-text , .home_content__feature-img {
	width: 50%;
	float: left;
	display: inline-block;
}

.home_content__feature-text {
	height: 360px;
	padding: 25px;
	text-align: center;
	font-size: 20px;
}

.home_content__feature-text-header {
	font-size: 30px;
}

.home_content__feature-img {
	height: 360px;
	overflow: hidden;
}

/* Contact page */
.contact_header {
	margin-top: 170px;
	font-size: 40px;
	text-align: center;
}

/*Input style*/
.form {
	margin-left: 270px;
	margin-top: 20px;
	text-align: center;
}

.form__input-div {
	position:relative;
}

.flaticon-profile7 ,
.flaticon-rounded26 , 
.flaticon-drawing4 {
	position: absolute;
	top: 14px;
	left: 13px;	
}

.form__input:focus {
	outline: none;
	border-color: #2c97de;
	box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
} 

.form__input {
	width: 700px;
	height: 50px;
	padding: 10px 0;
	margin: 20px;
	border:1px solid #cfd9db;
	border-radius: .25em;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
	display: block;
	text-indent: 45px;
	color: black;
}

.form__input--message {
	padding: 0;
}


/*footer of the pages*/
.footer {
	font-size: 14px;
	background-color: #107FC9;
	color: white;
}

.footer__container {
	width: 1200px;
  margin: 0 auto;
}

.footer__rights {
	padding: 10px;
}

.footer__rights , .footer__list {
	display: inline-block;
}

.footer__list {
	float: right;
	list-style-type: none;
}

.footer__list-element {
	display: inline-block;
	padding: 10px;
}

.footer__link {
	text-decoration: none;
	text-align: center;
	color: white;
}


/******************************************************************/
/* Responsive  Menu for tablet*/

@media screen and (max-width: 600px){
	.navbar {
		height: auto;
		margin: 0;
		padding: 0;
	}

	.navbar__ul {
		height: auto;
		width: 100%;
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.navbar__list {
		position: relative;
		width: 50%;
		float: left;
		border-bottom: 1px solid white;
		border-right: 1px solid white;
	}

	.navbar__link {
		position: absolute;
		width: 100%;
		top: 0;
		padding: 16px;
		text-align: center;
	}
}

/******************************************************************/
/* Responsive  Menu for Mobile Phone */


@media screen and (max-width: 480px) {
	
	.navbar__ul {
		display: none;
		height: auto;
		margin-bottom: 10px; 
	}

	.navbar__list {
		width: 100%;
		color: white;
		z-index: 100;
		border-bottom: 1px solid white;
	}

	#pull {
		display: block;
		background-color: rgba(0 , 112 , 255 , 0.9);
		width: 100%;
		position: relative;
		outline: none;
		padding: 10px;
	}

	#pull:visited {
		outline: none;
	}

	#pull:after {
		content: "";
		float: right;
		margin-top: -5px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: url('../img/menu19.svg') no-repeat;
		display: inline-block;
	}

}

/******************************************************************/
/* Responsive  Menu for Mobile Phone */

@media only screen and (max-width : 320px) {
    .navbar__list {
        display: block;
        float: left;
        width: 100%;
    }
}